.my-custom-class {
  background-color: #f00;
  color: #fff;
}

.test-todo {
  /* background-color: blue; */
  color: #fff;
}

.study-todo {
  background-color: green;
  color: #fff;
}

.completed-todo {
  background-color: #ccc;
  color: #000;
}

